# Example .env file for backend
# Pinecone API Key
PINECONE_API_KEY="pcsk_your_pinecone_api_key_here"
# Pinecone Environment
PINECONE_ENVIRONMENT=your-pinecone-environment
# Pinecone Index Name
PINECONE_INDEX_NAME=neuro-index
# Add other secrets below

# Django Secret Key
DJANGO_SECRET_KEY=your-django-secret-key
HF_TOKEN=your-huggingface-token
